/* Global Styles */

*{
    margin: 0;
    padding: 0;
}

.poppins-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  .inter-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  :root{
    --main-text-size: 16px;
  }
 body{
    font-size: var(--main-text-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    gap: 60px;
  }
/* Shared Styles */


/* Hero Styles */

.hero-container{
    width: 83%;
    /* border: 1px solid red; */

}

.hero-container_navBar, 
.hero-container_main-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container_navList{
    display: flex;
    gap: 24px;
}

.hero-container_navList li{
    list-style: none;
}

.hero-container_navList a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.hero-container_main-hero{
    background-image: url("../assets/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: right;
    margin-top: 47px;
}

.hero-container_main-hero p{
    margin: 15px 0 15px;
}

.hero-container_main-hero button{
    width: 26%;
    padding: 3px 2px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.hero-container_main-hero img{
    width: 30.5%;
    height: 28.75%;
}

/* media query for hero-container(Hero Section) */
@media screen and (max-width: 576px){
    .hero-container_navBar,
    .hero-container_main-hero{
        flex-direction: column;
    }

    .hero-container_main-hero{
        background-position: center top;
    }

    .hero-container_main-hero img{
        order: 1;
    }
    .hero-container_main-hero div{
        order: 2;
    }
    .hero-container_main-hero h1, p, button{
        text-align: center;
    }
}
/* Main Section Styles */

/* Brand Logo Box */

.main-container_brandLogo-box{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 42px;
    place-items: center;
}


.main-container_brandLogo-box img{
    width: 75px;
    height: 65px;
}

/* Media Query for Brand Box*/

@media screen and (max-width: 576px) {
    .main-container_brandLogo-box img{
        width: 30px;
        height: 65px;
    }
    .main-container_brandLogo-box{
        grid-gap: 2px;
        grid-template-columns: 45px 45px 45px 45px 45px 45px 45px;
        grid-template-rows: 45px 45px 45px 45px 45px 45px 45px;        
        grid-template-areas: "alibaba amazon amazon ebay ebay rakuten rakutaen"
                             ".   daraz .  target . walmart ."
    }

    .alibaba{
        grid-area: alibaba;
    }
    .amazon{
        grid-area: amazon;
    }
    .daraz{
        grid-area: daraz;
    }
    .ebay{
        grid-area: ebay;
    }
    .rakuten{
        grid-area: rakuten;
    }
    .target{
        grid-area: target;
    }
    .walmart{
        grid-area: walmart;
    } 
    
}

/* Footer Section Styles */